@import '../common';

body {
  font-size: 12px;
  font-family: $lato;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $rubik;
}

h1 {
  font-size: ms(6);
}

h2 {
  font-size: ms(5);
}

h3 {
  font-size: ms(4);
}

h4 {
  font-size: ms(3);
}

h5 {
  font-size: ms(2);
}

h6 {
  font-size: ms(1);
}

p, span {
  font-size: ms(0);
}

._rubik {
   font-family: $rubik;
  font-size: 24px;
}

._lato {
  font-family: $lato;
  font-size: 24px;
}
