= form_for @changeset, @action, [multipart: true], fn f ->
  .form-group
    = label f, :username, class: "control-label"
    = text_input f, :username, class: "form-control", required: true
    = error_tag f, :username

  .form-group.-submit
    = submit "Create an account"
