.container
  .two-column-layout
    .heading
      h1 The first step to sharing every event of your life to the world.
    .form
      =render "profile_form.html", conn: @conn, changeset: @changeset, action: registration_path(@conn, :create_user_profile)
