.chirp-heading
  .vapor
    h2 WELCOME TO BIRDIE
    p= @user.first_name

    a(href=session_path(@conn, :delete))= gettext "Sign out!"
.container
  #chirp_form.col-md-6.col-offset-3
    =render "form.html", conn: @conn, changeset: @changeset, user: @user
#feed
  = for chirp <- @chirps do
    =render "chirp.html", chirp: chirp, author: chirp.author.handle

a(href=profile_path(@conn, :index, @user.handle))= gettext "Profile mo 'to"
