.jumbotron
  h2 WELCOME TO BIRDIE
   p= @user.first_name

  a(href=session_path(@conn, :delete))= gettext "Sign out!"
.container
  .col-md-6.col-offset-3
    =render "form.html", conn: @conn, changeset: @changeset, action: chirp_path(@conn, :chirp)
ul
= for chirp <- @chirps do
  =render "chirp.html", chirp: chirp, author: chirp.author.handle

a(href=profile_path(@conn, :index, @user.handle))= gettext "Profile mo 'to"
