= form_for @changeset, @action, [class: "session-form", multipart: true], fn f ->
  .form-group
    = label f, :email, class: "control-label"
    = email_input f, :email, class: "form-control", required: true
    = error_tag f, :email

  .form-group
    = label f, :password, class: "control-label"
    = password_input f, :password, class: "form-control", required: true
    = error_tag f, :email

  .form-group
    = submit "sign in", class: "btn btn-vaporwave"

  .form-group.registration
    span Not yet a user?
    = link "Create an account", to: registration_path(@conn, :new)