= form_for @changeset, @action, [class: "session-form", multipart: true], fn f ->
  .form-group.item
    = label f, :email, class: "control-label label"
    = email_input f, :email, class: "form-control control", required: true
    = error_tag f, :email

  .form-group.item
    = label f, :password, class: "control-label label"
    = password_input f, :password, class: "form-control control", required: true
    = error_tag f, :email

  .form-group.item.-submit
    = submit "sign in", class: "btn btn-vaporwave"

  .text
    span Not yet a user?
      = link "Create an account", to: registration_path(@conn, :new)
