.content.container
  .text
    img.logo(src="/images/birdie-logo-large.svg")
    h1 welcome to birdie
    h3 it's twitter, but vaporwave

  = render "form.html", conn: @conn, changeset: @changeset, action: @action
