@import '../common';

.styleguide-page {

  > .hero {
    background: $gradient-teal;
    background: -moz-linear-gradient(-45deg, #{$gradient-teal} 0%, #{$gradient-pink} 100%);
    background: -webkit-linear-gradient(-45deg, #{$gradient-teal} 0%, #{$gradient-pink} 100%);
    background: linear-gradient(135deg, #{$gradient-teal} 0%, #{$gradient-pink} 100%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    color: $white;
    letter-spacing: 16px;
  }
}

._rubik {
  font-family: $rubik;
  font-size: 24px;
}

._lato {
  font-family: $lato;
  font-size: 24px;
}
