h2 Welcome to your profile,
 =@user.name

.container
  .col-md-6.col-offset-3
    =render "form.html", conn: @conn, changeset: @changeset, action: chirp_path(@conn, :chirp)
ul
= for chirp <- @chirps do
  li= "#{chirp.content}, #{chirp.inserted_at}"

