section.styleguide-block#colors
  h1.title colors
  .row
    .col-md-2
      .color-card
        .color.-white
        .name $white

    .col-md-2
      .color-card
        .color.-black
        .name $black

    .col-md-2
      .color-card
        .color.-gradient-teal
        .name $gradient-teal

    .col-md-2
      .color-card
        .color.-gradient-pink
        .name $gradient-pink

    .col-md-2
      .color-card
        .color.-gradient-light-blue
        .name $gradient-light-blue

    .col-md-2
      .color-card
        .color.-gradient-blue
        .name $gradient-blue
