section.styleguide-block#fonts
  h1 fonts
  hr
  .row
    .col-1
      h1 h1
    .col-11
      h1 The quick brown fox jumps over the lazy dog.
  hr

  .row
    .col-1
      h2 h2
    .col-11
      h2 The quick brown fox jumps over the lazy dog.
  hr

  .row
    .col-1
      h3 h3
    .col-11
      h3 The quick brown fox jumps over the lazy dog.
  hr

  .row
    .col-1
      h4 h4
    .col-11
      h4 The quick brown fox jumps over the lazy dog.
  hr

  .row
    .col-1
      h5 h5
    .col-11
      h5 The quick brown fox jumps over the lazy dog.
  hr

  .row
    .col-1
      h6 h6
    .col-11
      h6 The quick brown fox jumps over the lazy dog.
  hr

  .row
    .col-1
      p p
    .col-11
      p The quick brown fox jumps over the lazy dog.
  hr
