section.styleguide-block#typefaces
  h1.title typefaces
  hr
  .row._rubik
    .col-2
      span Rubik
    .col-2
      span $rubik
    .col-8
      span The quick brown fox jumps over the lazy dog
  hr
  .row._lato
    .col-2
      span Lato
    .col-2
      span $lato
    .col-8
      span The quick brown fox jumps over the lazy dog
  hr
