@import "modularscale";

//Fonts
$modularscale: (
  base: 14px,
  ratio: 1.2
);

$rubik: 'Rubik', sans-serif;
$lato: 'Lato', sans-serif;


//Application colors
$white: #ffffff;
$black: #111111;

//Gradient Colors
$gradient-teal: #70ccd8;
$gradient-pink: #c773c7;
$gradient-light-blue: #8CD3DA;
$gradient-blue: #8CB0DA;

$a: #a197ce; // light purple
$b: #88b4d3;
