.chirp-box {
  background: white;
  border-radius: 16px;
  padding: 4px;
  margin: 8px;
  width: 75%;

  > .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  > .head > .name {
    margin-left: 16px;
  }

  > .head > .date {
    margin-right: 16px;
  }

  > .chirp {
    margin-left: 16px;
  }
}
