@import '../common';

.session-form {
  background-color: $white;
  border-radius: 10px;
  font-family: $rubik;
  padding: 24px;

  > .item > .label {
    color: black;
    text-transform: lowercase;
  }

  > .item > .control {
    font-family: $lato;
  }
  
  > .item.-submit {
    display: flex;
    justify-content: flex-end;
    margin-top: 36px;
  } 

  > .text {
    color: $black;
    font-family: $lato;
    font-weight: 400;
    text-align: right;
  }
}
