@import '../common';

.session-form {
  background-color: $white;
  border-radius: 10px;
  font-family: $rubik;
  padding: 24px;
  width: 480px;

  > .item > .label {
    color: black;
    text-transform: lowercase;
  }

  > .item > .control {
    font-family: $lato;
  }

  > .registration {
    color: $black;
    font-family: $lato;
  }
}
